.relative {
    position: relative;
}

.border-none {
    border: none;
}

.max-w-500 {
    max-width: 500px;
}

.max-w-600 {
    max-width: 600px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.max-h-content {
    max-height: min-content;
}

.mt-0 {
    margin-top: 0px;
}

.mt-2{
    margin-top: 8px;
}

.mt-4 {
    margin-top: 16px;
}

.h-screen {
    height: 100vh;
}

.text-sm {
    font-size: 14px;
}

.text-muted {
    color: var(--gray600);
}