@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* -----------------------------------------------------------------------------------------
------------------------------------------ COLORS ------------------------------------------
-------------------------------------------------------------------------------------------- */
$gray50: #f9fafb;
$gray100: #f3f4f6;
$gray200: #e5e7eb;
$gray300: #d1d5db;
$gray400: #9ca3af;
$gray200: #e5e7eb;
$gray600: #4b5563;
$gray700: #374151;
$gray800: #1f2937;
$orange100: #ffedd5;
$orange200: #fed7aa;
$orange400: #fb923c;
$orange500: #f97316;
$orange600: #ea580c;
$orange700: #c2410c;
$orange800: #9a3412;
$red600: #dc2626;
$red800: #991b1b;
$red400: #f87171;
$green100: #dcfce7;
$green600: #16a34a;
$green800: #166534;
$white: #FFFFFF;
$black: #000000;

.mt-4{
    margin-top: 16px;
}
/* -----------------------------------------------------------------------------------------
------------------------------------- GLOBAL VARIABLES -------------------------------------
-------------------------------------------------------------------------------------------- */
$navbar-height: 70px;
$layout-height: calc(100vh - $navbar-height);
$sidebar-width: 384px;

$mobile-screen: 768px;
$tablet-screen: 1024px;
$desktop-screen: 1200px;

@media (max-width: 384px) {
    $sidebar-width: 100%;
}

/* -----------------------------------------------------------------------------------------
----------------------------------- RESET DEFAULT STYLES -----------------------------------
-------------------------------------------------------------------------------------------- */
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: normal;
    font-size: 16px;
    color: inherit;
}

*{
    font-size: inherit;
    color: inherit;
}




ul {
    list-style-position: inside;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    display: block;
}

// a {
//     color: $orange600;
//     text-decoration: none;
// }



body {
    background-color: $gray200;
    color: $gray800;
}

svg:not(.Toastify svg) {
    // fill: inherit;
    display: block;
}

/* -----------------------------------------------------------------------------------------
---------------------------------------- ANIMATIONS ----------------------------------------
-------------------------------------------------------------------------------------------- */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* -----------------------------------------------------------------------------------------
---------------------------------------- ANIMATIONS ----------------------------------------
-------------------------------------------------------------------------------------------- */
.mt-4 {
    margin-top: 16px;
}

/* -----------------------------------------------------------------------------------------
------------------------------------ GENERIC COMPONENTS ------------------------------------
-------------------------------------------------------------------------------------------- */
.card {
    background-color: $white;
    border-radius: 4px;
    border: 2px solid $gray300;

    &-header {
        padding: 12px 16px;
        border-bottom: 2px solid $gray300;

        &-title {
            font-weight: 600;
            color: $orange600;
            font-size: 18px;
            text-align: center;
        }
    }

    &-body {
        padding: 16px;
    }

    &-footer {
        padding: 12px 16px;
        border-top: 2px solid $gray300;
    }
}

.btn {
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 300ms;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: 600;

    &-sm {
        padding: 4px 8px;
        font-size: 14px;
    }

    &-full {
        display: block;
        width: 100%;
    }

    &-primary {
        background-color: $orange600;
        color: $white;
        fill: $white;

        &:hover {
            background-color: $orange800;
        }

        &:disabled {
            background-color: $orange400;
        }
    }
}



.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: $sidebar-width;
    right: -$sidebar-width + (-100);
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: all 300ms;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);

    &[data-show=true] {
        right: -0px;
    }

    &-header {
        border-bottom: 2px solid $gray300;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-title {
        font-weight: 600;
        font-size: 18px;
        color: $orange600;
    }

    &-body {
        flex: 1;
        padding: 16px;
        overflow-y: auto;
    }

    &-footer {
        padding: 16px;
        border-top: 2px solid $gray300;
    }
}

.notification {
    position: relative;

    &-count {
        position: absolute;
        top: -4px;
        right: -4px;
        font-size: 14px;
        background-color: $orange600;
        color: $white;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.badge {
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 12px;

    &-success {
        background-color: $green100;
        color: $green800;
    }

    &-info {
        background-color: $orange100;
        color: $orange800;
    }
}

/* -----------------------------------------------------------------------------------------
--------------------------------------- UTILITIES ------------------------------------------
-------------------------------------------------------------------------------------------- */
.layout {
    margin-top: $navbar-height;
    height: $layout-height;
    overflow-y: auto;

    &-container {
        margin: auto;
        padding: 32px 8px;
        max-width: 1024px;
    }
}

.modal-container {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.m-w-500 {
    max-width: 500px;
}

.mx-auto {
    margin: auto;
}

.form {
    max-width: 600px;
    margin: auto;

    &-title {
        font-weight: 600;
        color: $orange600;
        font-size: 18px;
        text-align: center;
    }
}

.mt-4 {
    margin-top: 16px;
}

.my-2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* -----------------------------------------------------------------------------------------
-------------------------------------- COMPONENTS ------------------------------------------
-------------------------------------------------------------------------------------------- */


:root {
    --gray700: #374151;
    --gray100: #f3f4f6;
    --gray200: #e5e7eb;
    --gray300: #d1d5db;
    --gray600: #4b5563;

    --red600: #dc2626;
    --red800: #991b1b;
    --red400: #f87171;

    --color-primary: #ea580c;
}


.order-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
    border-bottom: 2px solid $gray300;
    padding: 12px 0;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.cart-item {
    border-top: 2px solid $gray300;
    padding: 12px 0;

    &:first-child {
        padding-top: 0;
        border-top: none;
    }

    &:last-child {
        padding-bottom: 0;
    }

    &-name {
        font-weight: 600;
    }

    &-option {
        color: $gray700;
        margin-top: 8px;
    }

    &-price {
        font-weight: 700;
        color: $orange600;
        margin-top: 8px;
    }

    &-btns {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }

    &-btn-close {
        background-color: $gray100;
        width: 32px;
        color: $gray700;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $gray300;
    }
}

.details {
    background-color: $white;
    border-radius: 4px;
    width: 672px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0px 12px;
    max-height: 90vh;

    @media (max-width: 672px) {
        width: 100%;
    }

    &-header {
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        border-bottom: 2px solid $gray300;
    }

    &-food-name {
        font-weight: 600;
        font-size: 18px;
        color: $orange600;
    }

    &-loader {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-spinner {
        margin: 60px 0;
        height: 64px;
        width: 64px;
        display: block;
        border-radius: 100%;
        border: 4px solid $orange600;
        animation: spin 1s linear infinite;
        border-bottom-color: transparent;
    }

    &-body {
        padding: 16px;
        flex: 1;
        overflow-y: auto;
    }

    &-section {
        padding: 8px 0;
        border-top: 2px solid $gray300;

        &:first-child {
            border-top: none;
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        &-title {
            font-weight: 600;
            margin-bottom: 8px;
            color: $orange600;
        }

        &-text {
            color: $gray700;
        }
    }

    &-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        cursor: pointer;

        &:first-child {
            margin-top: 0px;
        }

        &-price {
            flex: 1;
            font-weight: 600;
            color: $orange600;
            text-align: right;
        }
    }

    &-footer {
        border-top: 2px solid $gray300;
        padding: 16px;
    }
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    &-spinner {
        height: 64px;
        width: 64px;
        display: block;
        border-radius: 100%;
        border: 4px solid $orange600;
        animation: spin 1s linear infinite;
        border-bottom-color: transparent;
    }
}

.pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

    &:first-child {
        margin-top: 0;
    }

    &-last-item {
        border-top: 2px solid $gray300;
        padding-top: 12px;
    }
}


/* -----------------------------------------------------------------------------------------
---------------------------------------- PAGES ---------------------------------------------
-------------------------------------------------------------------------------------------- */
// .home {
//     &-title {
//         font-weight: 700;
//         text-align: center;
//         font-size: 30px;
//         color: $orange600;
//         margin-bottom: 24px;
//         margin-top: 48px;
//     }

//     &-foods {
//         display: grid;
//         grid-template-columns: repeat(3, 1fr);
//         gap: 16px;

//         @media (max-width: $desktop-screen) {
//             grid-template-columns: repeat(2, 1fr);
//         }

//         @media (max-width: $mobile-screen) {
//             grid-template-columns: 1fr;
//         }
//     }
// }

.order-details{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 16px;
}


.checkout {
    display: grid;
    grid-template-columns: 8fr 4fr;
    justify-content: stretch;
    gap: 20px;

    @media (max-width: $desktop-screen) {
        grid-template-columns: 2fr 1.2fr;
    }

    @media (max-width: $mobile-screen) {
        grid-template-columns: 1fr;
    }

    &-form {
        width: 100%;
        max-width: 100%;
        height: min-content;
    }

    &-title {
        color: $orange600;
        font-weight: 600;
        font-size: 18px;
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;

        &:first-child {
            margin-top: 0;
        }

        &-payable {
            border-top: 2px solid $gray300;
            padding-top: 12px;
        }
    }
}

// .search {
//     &-input {
//         display: flex;
//         align-items: center;
//         gap: 4px;
//         background-color: $white;
//         padding-left: 8px;
//         border: 2px splid $gray300;
//         border-radius: 4px;
//         border: 2px solid $gray300;
//         padding: 12px 12px 12px 20px;

//         input {
//             border: none;
//         }
//     }

//     &-result {
//         font-weight: 700;
//         font-size: 18px;
//         color: $orange600;
//         margin: 24px 0 12px;
//     }

//     &-categories {
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         gap: 16px;

//         @media (max-width: 1024px) {
//             grid-template-columns: repeat(2, 1fr);
//         }
//     }

//     &-foods {
//         display: grid;
//         grid-template-columns: repeat(3, 1fr);
//         gap: 16px;

//         @media (max-width: 1024px) {
//             grid-template-columns: repeat(1, 1fr);
//         }
//     }
// }






.cart-page-title {
    font-weight: 600;
    color: $orange600;
    font-size: 18px;
}

.cart-item {
    padding: 12px 0px;
    display: flex;
    width: 1005;
    flex-grow: 1;
    gap: 16px;
    border-top: 2px solid $gray300;

    &:last-child {
        padding-bottom: 0;
    }

    &:first-child {
        border-top: none;
        padding-top: 0px;
    }

    &-img {
        width: 100px;
        height: 100px;
    }

    &-name {
        font-weight: 600;
    }

    &-price {
        font-weight: 700;
        font-size: 18px;
        color: $orange600;
        margin-top: 8px;
    }

    &-right {
        flex-grow: 1;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }
}

.cart-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;

    @media (max-width:600px) {
        grid-template-columns: 1fr;
    }
}

.mt-5 {
    margin-top: 20px;
}

.flex {
    display: flex;
}

.flex-h-center {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gap-1 {
    gap: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.text-primary {
    color: $orange600;
}

.semibold {
    font-weight: 600;
}

.text-lg {
    font-size: 18px;
}

.table {
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }

    tbody tr {
        border-top: 2px solid $gray300;
    }

    th,
    td {
        padding: 12px;
        margin: auto;
    }

    th {
        font-weight: 700;
    }

    th {
        padding-top: 0;
    }

    tr:last-child td {
        padding-bottom: 0;
    }
}